@import "tailwindcss";

* {
    cursor: none !important;
}

html,
body {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
    cursor: none !important;
    -webkit-tap-highlight-color: transparent;
}

.cursor-glass-core {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}

.cursor-glass-content {
    padding: 8px 12px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 13px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.36);
}